body {
    margin: 10 auto;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 51%, rgba(8,25,132,1) 100%);
    
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    padding-top: 20px;
}

#recipe-results {
    margin-top: 30rem;
    margin: 0 auto;
    box-shadow: 20px 15px 6px darkblue;
    width: 35rem;
    border: 2px solid black;
    border-radius: 15px;
}

div {
    text-align: center;
}

img{
    height: 100px;
    width: 100px;
}

.recipe-bar {
    margin-bottom: 1rem;
    margin-top: .8rem;
}

.bar-image {
    overflow: hidden;
    transition: transform 500ms ease;
    border-radius: 12px;
    padding: 0 .4rem;
}

.bar-image:hover {
    transform:scale(1.2)
}

.detail-image {
    height: 400px;
    width: 530px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.fav-button{
    margin-left: 15rem ;
    border-radius: 8px;
}

ul {
    text-align: center;
    margin: 0;
}